{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>Autor projektu</h2>

    <a>Nazywam się Dominik Skowron mam 20 lat. Studjuję Informatykę Stosowaną na Ueku na wydziale Zarządzania. Od urodzenia mieszkam w mieście Królów Polskich, w Krakowie. 
    Interesuję się sportem i nowymi (a także starymi) technologiami informatycznymi. Wolny czas spędzam na graniu w gry video, treningach siłowych czy też spotkaniach z przyjaciółmi<a>

    <a>Mojim hobby jest sport. A bardziej szczegółowo to ogólnie rzecz biorąć wysiłek wyzyczny. 
    Poza pandemią chodziłem na siłownie i rozwijałem swoje ciało niestety na obecny moment jestm w tej kwestii ogranioczny i 
    musze zadowolić się treningami w domu (oczywiscie zakupiłem niezbędny sprzęt). Z innych uwielbiam bieganie i jazdę na rowerze 
    a także każdą aktywyność fizcyzną w której można rywalizować z innymi (dużo adrenalny :P). Myślę ,że moje hobby jest bardzo wymagające gdyż wymaga 
    bycia konsekwentnym w codziennych treningach i w kuchnii<a>

{% endblock middle %}