{% extends "layout.html.jinja" %}

{% block middle %}

    <h2 class="d-flex justify-content-center" >Pobieranie danych produktu</h2>
    <div class="d-flex justify-content-center">
    <p>{{ error }}</p>
    <form class="row g-3" method="POST">
        <div class="col-auto">
            <label for="productId" class="form-control-plaintext">Podaj kod produktu</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="productId" name="productId" placeholder="Kod produktu" required>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Pobierz</button>
        </div>
    </form>
    </div>
    <div class="d-flex justify-content-center">
    Samples: |
    55697700 | 
    61927206 | 
    76890500 | 
    85575530 |
    97074031 |
    </div>
{% endblock middle %}