{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>Opis projetku</h2>
    <p>Celem aplikacji jest ekstracja i wizulaizacja opini produktów z serwisu Ceneo. 
    Aby skorzystać z aplikacji należy w polu ekstracji wpisać kod produktu, nastepnie apliacja pobiera opinie i przedstawia je w czytelnej dla użytkownika formie.
    W projekcie zostały zastosowanie biblioteki takie jak : BeautifulSoup, Requests, Pandas, Jijna, czy matplotlib.
    W projekcie zostało zastosowane podejście obiektowe przy użyciu microframeworka Flask.</p>
{% endblock middle %}