{% extends "layout.html.jinja" %}

{% block middle %}

<h1>Widzę wykresy:
➢ kołowy ukazujący udział poszczególnych rekomendacji w ogólnej
liczbie opinii
➢ słupkowy lub kolumnowy przedstawiający liczbę opinii z
poszczególnymi liczbami gwiazdek
• Widzę przycisk powrotu do strony produktu</h1>

{% endblock middle %}