{% extends "layout.html.jinja" %}

{% block middle %}
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="javascript:location.href='/product/{{productId}}'">Powrót</button>
    <div style="text-align:center;">

        <img src="/static/chart_rcmd.png">
        <img src="/static/chart_stars.png">
        
        
    </div>

{% endblock middle %}